---
import BaseHead from '@/components/BaseHead.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import ProviderTheme from '@/components/ProviderTheme.astro'
import ProviderAnimations from '@/components/ProviderAnimations.astro'
import TwSizeIndicator from '@/components/TwSizeIndicator.astro'
import EditBlog from '@/components/editBlog.astro'

interface Props {
	title?: string
	description?: string
	image?: string
	articleDate?: string
}

const { title, description, image, articleDate } = Astro.props as Props

// Importamos todos los CSS globales y de Layout
import '../styles/variables.css'
import '../styles/global.css'
import '../styles/typography.css'
import '../styles/utilities.css'
import '../styles/BaseLayout.css'
---

<!doctype html>
<html lang='es' class='scroll-smooth'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<BaseHead
			title={title ?? 'MiBlog'}
			description={description}
			ogImage={image}
			articleDate={articleDate}
		/>
		<ProviderTheme />
		<ProviderAnimations />
	</head>

	<body class='layout-body'>
		<div class='layout'>
			<!-- Header visible -->
			<Header />

			<!-- Contenedor principal (slot) -->
			<main class='main-container'>
				<slot />
			</main>

			<!-- Footer -->
			<Footer />

			<!-- Utilidades externas -->
			<TwSizeIndicator />
			<EditBlog />
		</div>

		<script>
			// Prevenir shift al cambiar el scrollbar
			document.body.style.marginLeft = `calc(100vw - 100%)`
		</script>
	</body>
</html>
